<template>
    <div class="row">
        <h2 v-if="title">{{ title }}</h2>
        <h2 v-else></h2>
        <div class="col-6 col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body px-3 py-4-5">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="stats-icon purple">
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h6 class="text-muted font-semibold">Users</h6>
                            <h6
                                v-if="totalStatistics.length != 0"
                                class="font-extrabold mb-0"
                            >
                                {{ totalStatistics.users }}
                            </h6>
                            <h6 v-else>-</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body px-3 py-4-5">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="stats-icon blue">
                                <i class="fa fa-file"></i>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h6 class="text-muted font-semibold">
                                Reports
                            </h6>
                            <h6
                                v-if="totalStatistics.length != 0"
                                class="font-extrabold mb-0"
                            >
                                {{ totalStatistics.reports }}
                            </h6>
                            <h6 v-else>-</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body px-3 py-4-5">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="stats-icon green">
                                <i class="fas fa-project-diagram"></i>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h6 class="text-muted font-semibold">
                                Projects
                            </h6>
                            <h6
                                v-if="totalStatistics.length != 0"
                                class="font-extrabold mb-0"
                            >
                                {{ totalStatistics.projects }}
                            </h6>
                            <h6 v-else>-</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body px-3 py-4-5">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="stats-icon red">
                                <i class="fas fa-trophy"></i>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h6 class="text-muted font-semibold">Awards</h6>
                            <h6
                                v-if="totalStatistics.length != 0"
                                class="font-extrabold mb-0"
                            >
                                {{ totalStatistics.awards }}
                            </h6>
                            <h6 v-else>-</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        title: String,
        startYear: Number,
        endYear: Number
    },
    data() {
        return {
            totalStatistics: []
        };
    },
    methods: {
        loadTotals() {
            axios
                .get("api/totals/getTotalStatistics?start_year=" +this.startYear+"&end_year="+this.endYear)
                .then(response => {
                    if (response.data) {
                        this.totalStatistics = response.data;
                    }
                });
        }
    },
    created() {
        this.loadTotals();
    },
    watch: {
        startYear: function() {
            this.loadTotals();
        },
        endYear: function() {
            this.loadTotals();
        }
    }
};
</script>
