body {
    background-color: white;
}
#auth {
    height: 100vh;
    overflow-x: hidden;

    #auth-right {
        height: 100%;
        background: #141414;
        background: linear-gradient(90deg, #141414, #1c1c1c);
        background-image: url(/img/header-novowhite.jpg), linear-gradient(90deg, #141414, #1c1c1c);
        background-blend-mode: luminosity;
        background-size: cover;

    }
    #auth-left {
        padding: 5rem 8rem;

        .auth-title {
            font-size: 4rem;
            margin-bottom: 1rem;
            color: $gray-900;
        }
        .auth-subtitle {
            font-size: 1.7rem;
            line-height: 2.5rem;
            color: #a8aebb;
        }
        .auth-logo {
            margin-bottom: 3rem;
            img {
                height: 2rem;
            }
        }
        @media screen and (max-width: 767px) {
            padding: 5rem ;
        }
    }
}