// Bootstrap
@import "~bootstrap/scss/bootstrap";

.nav-link {
  color: $gray-400;
}

.nav-link.active {
  color: map-get($theme-colors, 'primary');
}

@import '~admin-lte/dist/css/adminlte.css';

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
// 2. Bootstrap Components Override

// - 2.1. Alert
@import "./components/alert";

// - 2.2. Avatar
@import "./components/avatar";

// - 2.3. Badge
@import "./components/badge";

// - 2.4. Buttons
@import "./components/buttons";

// - 2.5. breadcrumb
@import "./components/breadcrumb";

// - 2.6. carousel
@import "./components/carousel";

// - 2.7. card
@import "./components/card";

// - 2.8. divider
@import "./components/divider";

// - 2.9. dropdowns
@import "./components/dropdowns";

// - 2.10. forms
@import "./components/forms";

// - 2.11. modal
@import "./components/modal";

// - 2.12. sidebar
@import "./components/sidebar";

// - 2.13. navs
@import "./components/navs";

// - 2.14. navbar
@import "./components/navbar";

// - 2.15. pagination
@import "./components/pagination";

// - 2.16. table
@import "./components/table";

// - 2.17. progress
@import "./components/progress";

// - 2.18. icons
@import "./components/icons";
@import '~bootstrap-icons/font/bootstrap-icons';

// 4.0 Layout
@import "./layouts/main.scss";
@import "./utilities";

$fa-font-path: "../webfonts";

// Toastify
@import "~toastify-js/src/toastify.css";

/*.container {
  min-width: 100%; max-width: max-content;
}*/
.pushmenu {
  display: none;
}
.sidebar-closed .pushmenu {
  display: block;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#sidebar .sidebar-wrapper {
  overflow: hidden;
  height: 100%;
}
#sidebar .sidebar-menu{
  width: 100%;
  height: 90%;
  overflow-y: scroll;
  padding-right: 17px;
  box-sizing: content-box;

  @media (min-width: 768px) {
    height: 100%;
  }
}

.w-max {width: max-content;}
.card-body table th {
  vertical-align: middle;
}
.card-header.bg-none{
  background: none;;
}

// Show actions button on table hover
table.table-hover tr:hover td,
table.table-hover tr:hover span,
table.table-hover td.invisible:hover,
table.table-hover span.invisible:hover {
  visibility: visible !important;
}