<template>
<div>
    <div class="card-body">
        <h2 class="card-title">Total entities created <small>({{startYear}}-{{endYear}})</small></h2>
    </div>

    <div class="card-img-bottom">
        <chartjs-line :bind="true" :datasets="datasets" :labels="labels" :key="key" :option="option" />
    </div>
</div>
</template>

<script>
export default {
    props: {
    startYear: Number,
    endYear: Number,
    },
    data() {
        return {
            key: 0,
            statitics: null,
            datasets: [],
            labels: [],
             option: {
                legend: {
                    display: true,
                },
            }
        };
    },

   methods: {
        loadData() {
            this.labels = [];
            this.datasets = [];
            axios.get('api/totals/getTotalsActiveStatistics?start_year=' +this.startYear+'&end_year='+this.endYear)
                .then(response => {
                    let data = response.data
                    if (data != undefined) {
                        let colors = [
                            '#9694ff',
                            '#57caeb',
                            '#5ddab4',
                            '#ff7976',
                            '#3a3a3a',
                            '#c076ff',
                            ];
                        let i = 0;
                        let yearFilled = true;
                        for (let key in data) {
                            let value = data[key];
                            let temp_dataset = {
                                label: key,
                                data: [],
                                fill: false,
                                borderColor: colors[i++],
                                tension: 0.1
                            };
                            let year_data = [];
                            value.forEach(element => {
                                year_data[element['Year']] = parseInt(element['Total']);
                            });

                            for (let year = this.startYear; year <= this.endYear; year++) {
                                if(yearFilled) {
                                    this.labels.push(year);
                                }

                                if(typeof year_data[year] !== 'undefined') {
                                temp_dataset.data.push(year_data[year]);
                                } else {
                                    temp_dataset.data.push(0);
                                }
                            }
                            yearFilled = false;
                            this.datasets.push(temp_dataset)
                        }
                        this.key = this.key + 1;
                    }
            });
        }
    },
    mounted() {},
    created() {
        this.loadData();
    },
    watch: {
        startYear: function() {
            this.loadData();
        },
        endYear: function() {
            this.loadData();
        }
    }
};
</script>