<template>
<div>
    <div class="card-body">
        <h2 class="card-title">Total Degrees <small>({{startYear}}-{{endYear}})</small></h2>
    </div>

    <div class="card-img-bottom">
        <chartjs-pie :bind="true" :datasets="datasets" :labels="labels" :option="option" />
    </div>
</div>
</template>

<script>
export default {
    props: {
    startYear: Number,
    endYear: Number,
    },
    methods: {},
    data() {
        return {
            statitics: null,
            datasets: [{
                //label: 'My First Dataset',
                data: [],
                backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)'
                ],
                hoverOffset: 4
            }],
            labels: [],
             option: {
                legend: {
                    display: true,
                },
            }
        };
    },

   methods: {
        loadData() {
            this.labels = [];
            this.datasets[0].data = [];
            axios.get('api/totals/getTotalsAdamecicDegreeStatistics?start_year=' +this.startYear+'&end_year='+this.endYear)
                .then(response => {
                if (response.data) {
                    response.data.forEach(elem => {
                        this.labels.push(elem.academic_degree);
                        this.datasets[0].data.push(elem.total);
                    });
                }
            });
        }
    },
    mounted() {},
    created() {
        this.loadData();
    },
    watch: {
        startYear: function() {
            this.loadData();
        },
        endYear: function() {
            this.loadData();
        }
    }
};
</script>