<template>
    <div>
        <div>
            <h2 class="card-title">Total of Roles <small>({{startYear}}-{{endYear}})</small></h2>
        </div>

        <div class="card-img-bottom">
            <chartjs-bar
                :bind="true"
                :datasets="datasets"
                :labels="labels"
                :option="option"
            />
        </div>
    </div>
</template>

<script>
export default {
    props: {
        startYear: Number,
        endYear: Number
    },
    data() {
        return {
            statitics: null,
            datasets: [
                {
                    //&label: "Number of total",
                    data: [],
                    backgroundColor: [
                        "#435ebe",
                        "#55c6e8",
                        "#435ebe",
                        "#55c6e8",
                        "#435ebe",
                        "#55c6e8"
                    ],
                    borderWidth: 1
                }
            ],
            labels: [],
            option: {
                legend: {
                    display: false
                }
            }
        };
    },
    methods: {
        loadData() {
            this.labels = [];
            this.datasets[0].data = [];
            axios
                .get("api/totals/getTotalsCareerStatistics?start_year=" +this.startYear+"&end_year="+this.endYear)
                .then(response => {
                    if (response.data) {
                        response.data.forEach(elem => {
                            this.labels.push(elem.career);
                            this.datasets[0].data.push(elem.total);
                        });
                    }
                });
        }
    },
    mounted() {
        this.loadData();
    },
    created() {},
    watch: {
        startYear: function() {
            this.loadData();
        },
        endYear: function() {
            this.loadData();
        }
    }
};
</script>
