<template>
<div>
    <div class="card-body">
        <h2 class="card-title">Number of Outputs By Type <small>({{startYear}}-{{endYear}})</small></h2>
    </div>

    <div class="card-img-bottom">
        <chartjs-doughnut :bind="true" :datasets="datasets" :labels="labels" :option="option" />
    </div>
</div>
</template>

<script>
export default {
    props: {
        startYear: Number,
        endYear: Number,
    },
    data() {
        return {
            statitics: null,
            datasets: [],
            labels: ["Books", "Articles", "Conferences", "Others"],
            option: {}
        };
    },
    methods: {
        loadData () {
            if (this.datasets.length) {
                this.datasets = [];
            }
            axios.post('api/statistics/countOutputsByType', {
                start_year: this.startYear,
                end_year: this.endYear,
            })
            .then(response => {
                this.statitics = response.data;
                this.datasets.push({
                    data: [
                        this.statitics.number_of_books,
                        this.statitics.number_of_articles,
                        this.statitics.number_of_conferences,
                        this.statitics.number_of_others],
                    backgroundColor: ["#1d3557", "#457b9d", "#a8dadc", "#f1faee"],
                    hoverBackgroundColor: ["#fefae0", "#fefae0", "#fefae0", "#fefae0"]
                })
            });
        }
    },

    mounted() {
        this.loadData();
    },
    watch: {
        startYear: function() {
            this.loadData();
        },
        endYear: function() {
            this.loadData();
        }
    }
};
</script>
