<template>
<div>
    <chartjs-bar v-if="type=='bar'"
    :bind="true"
    :datasets="datasets"
    :labels="labels"
    />
    <chartjs-line v-if="type=='line'"
    :bind="true"
    :datasets="datasets"
    :labels="labels"
    />
</div>
</template>

<script>
import Chart from "./LineChart.js";

export default {
     props: {
        type: String,
        startYear: Number,
        endYear: Number,
    },
    components: {
        Chart
    },
    data() {
        return {
            datacollection: null,
            statistics: {},
            labels: null,
            datasets: []
        };
    },

    computed: {

    },

    mounted() {

    },
    methods: {

        getStatistics() {
            this.labels = [];
            axios.get('api/statistics/')
                .then(response => {
                    this.statistics = response.data.statistics;
                    this.fillData();
                    this.labels = this.generateYears();
                });
        },

        generateYears() {
            var array_years = [];
            if (this.startYear != undefined) {
                this.statistics.lowest_year = this.startYear;
            }
            if (this.endYear != undefined) {
                this.statistics.highest_year = this.endYear;
            }
            for (var i = this.statistics.lowest_year; i <= this.statistics.highest_year; i++) {
                array_years.push(i);
            }
            return array_years;
        },

        generateValues(type) {
            var amount_per_year = [];
            for (var i = this.statistics.lowest_year; i <= this.statistics.highest_year; i++) {
                if (this.statistics[type][i] !== undefined) {
                    amount_per_year.push(this.statistics[type][i]);
                } else {
                    amount_per_year.push(0);
                }
            }
            return amount_per_year;
        },

        fillData() {
            if (this.datasets.length) {
                this.datasets = [];
            }
            let data = [{
                        label: "Books",
                        //pointBorderColor: 'red',
                        borderWidth: 1,
                        pointBackgroundColor: 'c1121f',
                        borderColor: '#c1121f',
                        backgroundColor: '#c1121f33',
                        data: this.generateValues('books')
                    },
                    {
                        label: "Articles",
                        //pointBorderColor: 'red',
                        borderWidth: 1,
                        borderColor: '#5350e9',
                        pointBackgroundColor: '#5350e9',
                        backgroundColor: '#5454e138',
                        data: this.generateValues('articles')
                    },
                    {
                        label: "Conferences",
                        borderWidth: 1,
                        borderColor: '#058d78',
                        pointBackgroundColor: '#058d78',
                        backgroundColor: '#058f7a38',
                        data: this.generateValues('conferences')
                    },
                    {
                        label: "Others",
                        borderWidth: 1,
                        borderColor: '#2196f3',
                        pointBackgroundColor: '#2196f3',
                        backgroundColor: '#2094f338',
                        data: this.generateValues('others')
                    }
                ]
                data.forEach(element => {
                    this.datasets.push(element);
                });
        },
    },
    beforeCreate() {},

    created() {
        this.getStatistics();
    },
    watch: {
        startYear: function() {
            this.getStatistics();
        },
        endYear: function() {
            this.getStatistics();
        }
    }
};
</script>

<style>
    </style>
