<template>

<tr v-if="type === 'row'" colspan="100%" class="bg-light text-center p-2">
    <td v-if="loading" class="p-2" colspan="100%" >
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      </td>
    <td v-else-if="!loading && (!data.length || data.length === 0)" colspan="100%" >No Results Found</td>
</tr>

<div v-else-if="type === 'other'">
</div>

<div v-else>
  <span>Loading...</span>
</div>
</template>

<script>
export default {
    props: {
    type: String,
    loading: Boolean,
    data: Object|Array
    },
    data() {
        return {

        };
    },

   methods: {},
    mounted() {},
    created() {},
};
</script>