<template>
    <div class="container">
        <h1>Edit - About Us</h1>
        <tinymce id="d1" :other_options="tinyOptions" v-model="text"></tinymce>
        <button class="btn btn-success" v-on:click="updateAbout">
            Edit
        </button>
    </div>
</template>

<script>
import Editor from "@tinymce/tinymce-vue";
export default {
    components: {
        editor: Editor // <- Important part
    },
    data() {
        return {
            text: "",
            author: "",
            title: "",
            editorContent: "",
            tinyOptions: {
                height: 500
            }
        };
    },

    methods: {
        getAbout(id) {
            axios.get("api/about/getAbout/" + id).then(response => {
                this.text = response.data.text;
            });
        },

        updateAbout() {
            axios({
                method: "put",
                url: "api/about/edit/" + 1,
                data: {
                    text: this.text
                }
            })
                .then(function(response) {
                    Swal.fire({
                        type: "success",
                        title: "About us text Updated!",
                        showConfirmButton: true
                    });
                    window.location.href = "/home";
                })

                .catch(function(error) {
                    Swal.fire({
                        type: "error",
                        title: "Oops...",
                        text: "Text cannot be empty!"
                    });
                });
        }
    },

    created() {
        this.getAbout(1);
    }
};
</script>

<style>
.text_area {
    width: 80%;
    height: 300px;
    border: 1px dotted #000099;
}
</style>
