<template>
    <div class="container">
        <b-overlay :show="loading" rounded="sm">
        <div class="card-tools">
            <div class="d-flex justify-content-end">
                <strong class="p-1">From</strong>
                <select v-model="selectedStartYear" class="custom-select col-lg-1">
                    <option
                    v-for="year in years"
                     v-bind:key="year"
                     :value="year"
                     v-text="year"></option>
                </select>
                <strong class="p-1">To</strong>
                 <select v-model="selectedEndYear" class="custom-select col-lg-1">
                    <option
                    v-for="year in years"
                     v-bind:key="year"
                     :value="year"
                     v-text="year"></option>
                </select>
            </div>
        </div>
        <Totals :startYear="selectedStartYear" :endYear="selectedEndYear"/>
        <b-card>
            <div class="row">
                <LineChartTotalsActive :startYear="selectedStartYear" :endYear="selectedEndYear"/>
            </div>
        </b-card>

        <b-card>
            <div class="row">
                <div class="col-lg-5">
                    <PieChart :startYear="selectedStartYear" :endYear="selectedEndYear"/>
                </div>
                <div class="col-lg-7">
                    <BarGraph :startYear="selectedStartYear" :endYear="selectedEndYear"/>
                </div>
            </div>
        </b-card>

        </b-overlay>
    </div>
</template>

<script>
import Visualisation from "../charts/Visualisation.vue";
import Totals from "../statistics/Totals.vue";
import BarGraph from "../charts/NumCareers.vue";
import PieChart from "../charts/NumAcademicDegrees.vue";
import LineChartTotalsActive from "../charts/LineChartTotalsActive.vue";

export default {
    components: {
        Visualisation,
        Totals,
        BarGraph,
        PieChart,
        LineChartTotalsActive
    },
    data() {
        return {
            loading: false,
            selectedStartYear: 2010, //new Date().getFullYear(),
            selectedEndYear: new Date().getFullYear(),
            OutputsByYearType: 'line',
        };
    },
    computed: {
        years() {
            const year = new Date().getFullYear();
            return Array.from(
                {
                    length: year - 2000
                },
                (value, index) => 2001 + index
            );
        }
    },
    methods: {
        loadOutputs() {
            axios.get("api/cv_outputs/exportAllHome").then(response => {
                this.data_to_csv = response.data;
            });
        },

        searchPermission() {
            axios.get("api/searchPermission").then(response => {
                this.aux = response.data;
                //this.$store.commit("setSearchPermission", response.data);
            });
        },

        onCopy: function(e) {
            Swal.fire({
                type: "success",
                title: "Text Copied!",
                showConfirmButton: true
            });
        },
    },
    created() {
        /*Fire.$on("refresh", () => {
        });*/
    },
    mounted() {
        this.loadOutputs();
        this.searchPermission();
    },
    watch: {
        selectedStartYear(value) {
            if (value > this.selectedEndYear) {
                this.selectedStartYear = this.selectedEndYear -1;
                Swal.fire({type: "error",title: "Oops...",text: "Wrong Interval! Please select a valid date interval"});
            }
        },
        selectedEndYear(value) {
            if (this.selectedStartYear > value) {
                this.selectedStartYear = this.selectedEndYear -1;
                Swal.fire({type: "error",title: "Oops...",text: "Wrong Interval! Please select a valid date interval"});
            }
        }
    }
};
</script>

<style>
.Chart {
    height: 33%;
    width: 33%;
    background: #f4f1f1;
    border-radius: 15px;
    box-shadow: 0px 2px 15px rgba(25, 25, 25, 0.27);
    margin: 25px 0;
}

.Chart h2 {
    align-content: center;
    text-align: center;
    margin-top: 0;
    padding: 15px 0;
    color: rgba(255, 0, 0, 0.5);
    border-bottom: 1px solid #323d54;
}
</style>
