<template>
<div class=container>
    <h1>Edit - Mission</h1>
    <tinymce id="d1" :other_options="tinyOptions" v-model="text"></tinymce>
     <button class="btn btn btn-success" v-on:click="updateMission">Edit</button>
</div>
</template>

<script>
import Editor from "@tinymce/tinymce-vue";
export default {
    data() {
        return {
            text: '',
            author: '',
            title: '',
            editorContent: '',
            tinyOptions: {
                'height': 500
            },
        }
    },

    methods: {
        getMission(id) {
            axios.get('api/mission/getMission/' + id)
                .then(response => {
                    this.text = response.data.text;

                });
        },

        updateMission() {
            axios({
                    method: 'put',
                    url: 'api/mission/edit/' + 1,
                    data: {
                        //'text': this.editorContent,
                       // 'text': tinyMCE.activeEditor.getContent(),
                       'text': this.text,
                    },

                }).then(function (response) {

                    Swal.fire({
                        type: 'success',
                        title: 'Mission text Updated!',
                        showConfirmButton: true,
                    })
                    window.location.href = "/home";
                })

                .catch(function (error) {
                    Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Text cannot be empty!',
                    })

                });
        },
    },

    created() {
        this.getMission(1);
    },
}
</script>

<style>
.text_area {width:80%;height:300px;border: 1px dotted #000099;}
</style>
