<template>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <div
                    class="card-tools d-flex justify-content-end align-items-center"
                    style="text-align:right"
                >
                    <b-form-checkbox
                        v-model="showDisabled"
                        name="showDisabled"
                        class="pr-2"
                        value="1"
                        unchecked-value="0"
                    >Show Disable</b-form-checkbox
                    >
                    <button
                        class="btn btn-success"
                        @click="newModal"
                        style="width: 40%; height: 100%;"
                    >
                        Enroll Members  in Associations
                    </button>
                </div>
                <div class="card-header bg-none">
                    <h3 class="card-title">Members Associations</h3>
                </div>

                <div class="card">
                    <!-- /.card-header Full Member -->
                    <div class="card-body table-responsive p-0">
                        <b-table how-empty hover :items="visibleCells" :fields="fields">
                            <template #empty="scope">
                                <div class="text-center">
                                    <b-spinner v-if="isLoading" label="Spinning"></b-spinner>
                                    <span v-else>No results found!</span>
                                </div>
                            </template>
                            <template v-slot:[`head(${key})`]="data" v-for="key in fieldKeys">
                                {{data.label}}
                                <select v-if="searchableFields.includes(key)" class="form-control form-control-sm" @click.stop.prevent v-model="selectVal[key]">
                                    <option :value="undefined">--</option>
                                    <option :value="option" v-for="option in optionsValues[key]" :key="option">{{ option }}</option>
                                </select>
                            </template>
                            <template #cell(active)="data">
                                <b-badge
                                    :variant="
                                        data.item.active == 1
                                            ? 'primary'
                                            : 'danger'
                                    "
                                >{{
                                        data.item.active == 1
                                            ? "Active"
                                            : "Disable"
                                    }}</b-badge
                                >
                            </template>
                            <template #cell(options)="data">
                                <span class="invisible">
                                    <b-dropdown
                                        id="dropdown-1"
                                        text="Dropdown Button"
                                        no-caret
                                        menu-class="dropdown-menu-dark"
                                    >
                                        <template #button-content>
                                            <i class="bi bi-gear"></i>
                                        </template>
                                        <b-dropdown-item
                                            @click="
                                                changeStatus(
                                                  data.item.id,
                                                  data.item.user_id,
                                                  data.item.associations_id,
                                                    data.item.active == 1
                                                        ? '0'
                                                        : '1'
                                                )
                                            "
                                        >{{
                                                data.item.active == 1
                                                    ? 'Disable'
                                                    : 'Activate'
                                            }}</b-dropdown-item
                                        >
                                        <b-dropdown-item
                                            @click="deleteRole(data.item.id)"
                                        >Delete</b-dropdown-item
                                        ></b-dropdown
                                    ></span
                                >
                            </template>
                        </b-table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <!-- Paginação -->
                <div>
                    <b-pagination
                        align="left"
                        size="md-c"
                        v-model="page"
                        :total-rows="total"
                        :per-page="50"
                        @input="loadRolesPages(page)"
                    ></b-pagination>
                    <br />
                </div>
                <!-- Fim Paginação Full Member Table -->
            </div>
        </div>

        <div
            class="modal fade"
            id="addNew"
            tabindex="-1"
            role="dialog"
            aria-labelledby="addNewLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5
                            class="modal-title"
                            v-show="!editmode"
                            id="addNewLabel"
                        >
                            Enroll Members in Associations
                        </h5>
                        <h5
                            class="modal-title"
                            v-show="editmode"
                            id="editLabel"
                        >
                            Edit Role
                        </h5>
                        <button
                            type="button"
                            class="close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="editmode ? edit() : create()">
                        <div class="modal-body">
                            <div class="form-group">
                                <select
                                    name="userSelected"
                                    v-model="form.userSelected"
                                    class="form-control"
                                    :class="{
                                        'is-invalid': form.errors.has(
                                            'userSelected'
                                        )
                                    }"
                                >
                                    <option :value="''" disabled selected>
                                        - Please select a User -
                                    </option>
                                    <option
                                        v-for="user in users"
                                        :value="user.id"
                                        :key="user.id"
                                    >{{ user.name }}</option
                                    >
                                </select>
                                <has-error
                                    :form="form"
                                    field="userSelected"
                                ></has-error>
                            </div>
                            <div class="form-group">
                                <select
                                    name="roleSelected"
                                    @change="changeName"
                                    v-model="form.roleSelected"
                                    class="form-control"
                                    :class="{
                                        'is-invalid': form.errors.has(
                                            'roleSelected'
                                        )
                                    }"
                                >
                                    <option :value="''" disabled selected>
                                        - Please select a Association -
                                    </option>
                                    <option
                                        v-for="role in roles"
                                        :value="role.id"
                                        :key="role.id"
                                    >{{ role.association_name }}</option
                                    >
                                </select>
                                <has-error
                                    :form="form"
                                    field="roleSelected"
                                ></has-error>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button
                                type="button"
                                class="btn btn-danger"
                                data-bs-dismiss="modal"
                            >
                                Close
                            </button>
                            <button
                                v-show="!editmode"
                                type="submit"
                                class="btn btn-primary"
                            >
                                Add
                            </button>
                            <button
                                v-show="editmode"
                                type="submit"
                                class="btn btn-success"
                            >
                                Edit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/javascript">
// Component code (not registered)

export default {
    data: function() {
        return {
            page: 1,
            total: 1,
            total2: 1,
            total3: 1,
            editmode: false,
            allRoles: [],
            memberRolesExternalMember: [],
            memberRolesCollaboratorMember: [],
            users: [],
            roles: [],
            roleFunctions: [],
            showDisabled: "0",
            selectVal: {
                name: undefined,
                association_name: undefined,
                career: undefined
            },
            searchableFields: ['name', 'association_name', 'career'],
            fields: [
                {
                    key: "name",
                    label: "Name",
                    sortable: true,
                },
                {
                    key: "association_name",
                    label: "Association",
                    sortable: true
                },
                {
                    key: "career",
                    label: "Career",
                    sortable: true
                },
                {
                    key: "active",
                    label: "Status",
                    sortable: false
                },
                {
                    key: "options",
                    label: "",
                    sortable: false
                }
            ],
            form: new Form({
                id: "",
                userSelected: "",
                roleSelected: ""
            })
        };
    },
    computed: {
        fieldKeys() {
            return this.fields.map(function(d) { return d.key; });
        } ,
        visibleCells() {

            if (typeof this.allRoles == "object" ) {
                this.allRoles = Object.values(this.allRoles);
            }

            return this.allRoles.filter(r => {
                let keep = true;

                // This is a basic equality filter. What I did in the actual code was to have an object with filter functions for each key. If a key was missing, it defaulted to straight equality.
                this.fieldKeys.forEach(key => {
                    //console.log("selectVal",selectVal[key])
                    keep =
                        keep &&  r.active != this.showDisabled &&
                        (this.selectVal[key] === undefined ||
                            r[key] === this.selectVal[key]);
                });
                return keep;
            });
        },
        optionsValues() {
            // This could be simplified if the select was it's own component.
            const optionsValues = {};
            this.allRoles.forEach((key) => {
                for (const [key, value] of  Object.entries(key)) {
                    if (optionsValues[key] != undefined && !optionsValues[key].includes(value)) {
                        optionsValues[key].push(value);
                    } else if (optionsValues[key] == undefined) {
                        optionsValues[key] = new Array(value);
                    }

                }
            });
            return optionsValues;
        },
    },
    methods: {
        changeName() {

            axios.get("/api/associations/" + this.form.roleSelected).then(response => {
                this.roleFunctions = response.data.data;
            });
        },
        loadRoles() {
            axios.get("api/associations").then(response => {
                this.roles = response.data.data;
            });
        },
        loadUsers() {
            axios.get("api/users").then(response => {
                this.users = response.data.data;
            });
        },
        newModal() {
            this.editmode = false;
            this.form.clear();
            this.form.reset();
            $("#addNew").modal("show");
        },
        editModal(memberRole) {
            this.editmode = true;
            this.form.clear();
            this.form.reset();
            $("#addNew").modal("show");
            this.form.fill(memberRole);
        },
        loadRolesPages(page) {
            axios.get("api/associationsUsers?page=" + page)
                .then(response => {
                    this.allRoles = response.data.data;
                    //para a paginação:
                    this.page = response.data.current_page;
                    this.total = response.data.total;
                    this.isLoading = false;
                }).catch(() => {
                    this.isLoading = false;
                    }).finally(() => {
                        this.isLoading = false;
                    });
        },
        /*loadMemberRolesExternalMember(page) {
            axios
                .get("api/memberRolesExternalMember?page=" + page)
                .then(response => {
                    this.memberRolesExternalMember = response.data.data;
                    //para a paginação:
                    this.page2 = response.data.current_page;
                    this.total2 = response.data.total;
                });
        },
        loadMemberRolesCollaboratorMember(page) {
            axios
                .get("api/memberRolesCollaboratorMember?page=" + page)
                .then(response => {
                    this.memberRolesCollaboratorMember = response.data.data;
                    //para a paginação:
                    this.page3 = response.data.current_page;
                    this.total3 = response.data.total;
                });
        },*/
        create() {
            this.$Progress.start();
            this.form
                .post(
                    "api/memberAssociation/create",
                    this.form.userSelected,
                    this.form.roleSelected
                )
                .then(response => {
                    $("#addNew").modal("hide");

                    Swal.fire({
                        position: "top-end",
                        type: "success",
                        title: "Member Association Created!",
                        showConfirmButton: false,
                        timer: 1500
                    });
                })
                .catch(error => {
                    toast({
                        type: "error",
                        title: "Member Role Not Created!"
                    });
                });
            this.$Progress.fail();
            window.location.reload();
        },
        changeStatus(id, userId, roleId, status) {

            axios.post("api/association/status/" + id, {
                status,
                user_id: userId,
                role_id: roleId
            }).then(response => {
                Swal.fire(
                    "Status Changed!",
                    "Role status has been change.",
                    "success"
                );
                Fire.$emit("refresh");
            })
                .catch(error => {
                    Swal.fire({
                        type: "error",
                        title: "Oops...",
                        text: "Something went wrong!"
                    });
                });
        },
        deleteRole(id) {
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then(result => {
                console.log(result)
                if (result.value) {
                    axios
                        .delete("api/memberAssociation/delete/" + id)
                        .then(response => {
                            Swal.fire(
                                "Deleted!",
                                "Member Role has been deleted.",
                                "success"
                            );
                            Fire.$emit("refresh");
                        })
                        .catch(error => {
                            Swal.fire({
                                type: "error",
                                title: "Oops...",
                                text: "Something went wrong!"
                            });
                        });
                }
            });
        }
    },
    created() {

        this.loadRolesPages(1);
        //this.loadMemberRolesExternalMember(1);
        //this.loadMemberRolesCollaboratorMember(1);
        this.loadUsers();
        this.loadRoles();
        Fire.$on("refresh", () => {
            this.loadRolesPages(1);
            //this.loadMemberRolesExternalMember(1);
            //this.loadMemberRolesCollaboratorMember(1);
        });
    }
};
</script>

<style scoped>
tr.activerow {
    background: #123456 !important;
    color: #fff !important;
}
</style>
