<template>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="card-tools" style="text-align:right">
                    <button class="btn btn-success" @click="newModal" style="width: 20%; height: 100%;">Add New
                        Association
                    </button>
                </div>
                <div class="card-header bg-none">
                    <h3 class="card-title">All association</h3>
                </div>
                <div class="card">
                    <!-- /.card-header Full Member -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th>Association Name</th>
                                <th>Description</th>
                                <th>Abbreviation</th>
                                <th></th>
                            </tr>
                            <tr v-for="association in associations" :key="association.id">
                                <td>{{ association.association_name }}</td>
                                <td>{{ association.description }}</td>
                                <td v-if="association.abbreviation === null">{{ abbreviationDefault }}</td>
                                <td v-else-if="association.abbreviation !== null">{{ association.abbreviation }}</td>
                                <td>
                                    <b-dropdown id="dropdown-1" text="Dropdown Button" no-caret
                                                menu-class="dropdown-menu-dark">
                                        <template #button-content>
                                            <i class="bi bi-gear"></i>
                                        </template>
                                        <b-dropdown-item v-if=""
                                                         @click="editModal(association)">Edit
                                        </b-dropdown-item>
                                        <b-dropdown-item v-if=""
                                                         @click="deleteAssociation(association.id)">Delete
                                        </b-dropdown-item>
                                    </b-dropdown>
                                </td>
                            </tr>
                            <Loading type="row" :loading="loading" :data="associations"/>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" v-show="!editmode" id="addNewLabel">Add New Association</h5>
                        <h5 class="modal-title" v-show="editmode" id="editLabel">Edit Association</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="editmode ? editAssociation() : createAssociation()">
                        <div class="modal-body">
                            <div class="form-group">
                                <h6 v-if="editmode">Association Name</h6>
                                <input type="text" name="association_name" v-model="form.association_name"
                                       placeholder="Association Name"
                                       class="form-control"
                                       :class="{'is-invalid': form.errors.has('association_name')}">
                                <has-error :form="form" field="association_name"></has-error>
                            </div>

                            <div class="form-group">
                                <h6 v-if="editmode">Description</h6>
                                <input type="text" name="description" v-model="form.description"
                                       placeholder="Description"
                                       class="form-control" :class="{'is-invalid': form.errors.has('description')}">
                                <has-error :form="form" field="description"></has-error>
                            </div>

                            <div class="form-group">
                                <h6 v-if="editmode">Abbreviation</h6>
                                <input type="text" name="abbreviation" v-model="form.abbreviation"
                                       placeholder="Abbreviation"
                                       class="form-control" :class="{'is-invalid': form.errors.has('abbreviation')}">
                                <has-error :form="form" field="abbreviation"></has-error>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            <button v-show="!editmode" type="submit" class="btn btn-primary">Create</button>
                            <button v-show="editmode" type="submit" class="btn btn-success">Edit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/javascript">
// Component code (not registered)
import Loading from "./../general/Loading.vue";
export default {
    components: {
    Loading
    },
    data: function () {
        return {
            abbreviationDefault: '-',
            editmode: false,
            associations: [],
            loading: true,
            form: new Form({
                id: "",
                association_name: "",
                description: "",
                abbreviation: ""
            }),
            currentAssociation: null,
        }
    },
    methods: {
        loadAssociations() {
            this.associations = [];
            axios.get('api/associations')
                .then(response => {
                    if (typeof response.data === 'object' && response.data.length !== 0) {
                        this.associations = response.data.data;
                    }
                })
                .catch(function (error) {

                    Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Ops! An error has occur!',
                    });
                }).finally (error => {this.loading = false;});
        },
        newModal() {
            this.editmode = false;
            this.form.clear();
            this.form.reset();
            $('#addNew').modal('show');
        },
        editModal(associations) {
            this.editmode = true;
            this.form.clear();
            this.form.reset();
            $('#addNew').modal('show');
            this.form.fill(associations);
        },
        editAssociation() {
            this.$Progress.start();

            this.form.put('api/associations/edit/' + this.form.id)
                .then(response => {
                    $('#addNew').modal('hide')
                    Swal.fire(
                        'Edited!',
                        'Your Associations has been edited.',
                        'success'
                    )
                    this.$Progress.finish();
                    Fire.$emit('refresh');
                })
                .catch(error => {
                    Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                    })
                });

            this.$Progress.fail();
        },
        createAssociation() {
            this.$Progress.start();

            this.form.post('api/associations/create')
                .then(response => {
                    $('#addNew').modal('hide')
                    Swal.fire({
                        position: 'center',
                        type: 'success',
                        title: 'Associations created',
                        showConfirmButton: false,
                        timer: 1500
                    })
                    this.$Progress.finish();
                    Fire.$emit('refresh');
                })
                .catch(error => {
                    toast({
                        type: 'error',
                        title: 'Associations not created',
                    })
                });
            this.$Progress.fail();
        },
        deleteAssociation(id) {
            this.currentAssociation = null;
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    axios.delete('api/associations/delete/' + id)
                        .then(response => {
                            Swal.fire(
                                'Deleted!',
                                'Your association has been deleted.',
                                'success'
                            )
                            Fire.$emit('refresh');
                        })
                        .catch(error => {
                            Swal.fire({
                                type: 'error',
                                title: 'Oops...',
                                text: 'Something went wrong!',
                            })
                        });
                }
            })
        },
    },
    created() {
        this.loadAssociations();
        Fire.$on('refresh', () => {
            this.loadAssociations();
        })
    },

}
</script>

<style scoped>
tr.activerow {
    background: #123456 !important;
    color: #fff !important;
}

</style>
