<template>
    <div class="container">
        <b-overlay :show="loading" rounded="sm">
        <div class="row mt-5">
            <div class="col-md-12">
                <b-alert
                    :show="errorMessage.length"
                    dismissible
                    variant="danger"
                    @dismissed="errorMessage = ''"
                    >{{ errorMessage }}</b-alert
                >
                <div class="card-header bg-none">
                    <h3 class="card-title">Mail Sender - Remember Users To Fill Form</h3>
                    <div class="card-tools"></div>
                </div>

                <div class="card p-5">

                      <b-alert show variant="light">Download file template:<a href="file-templates/fill_form_template.xlsx" download class="ml-2 color-gray ">fill_example.xlsx</a></b-alert>

                        <b-form-group label="File to Read:" label-cols-sm="2">
                            <b-form-file
                                id="file-default"
                                accept=".xlsx,.csv"
                                v-model="file"
                                :state="Boolean(file)"
                            ></b-form-file>
                        </b-form-group>

                        <b-form-group label="Subject:" label-cols-sm="2">
                            <b-form-input v-model="subject" placeholder="Finalização do prenchimento Inquerito CIIC"></b-form-input>
                        </b-form-group>

                        <b-form-group v-if="!isDynamicMacros">
                            <slot name="label">
                                <span
                                    v-b-popover.hover="
                                        ' Use the macro as a placeholder, that will be replace with actual value present in the file.'
                                    "
                                    variant="info"
                                >
                                    Available macros
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="16"
                                        height="16"
                                        fill="currentColor"
                                        class="bi bi-info-circle"
                                        viewBox="0 0 16 16"
                                    >
                                        <path
                                            d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                                        />
                                        <path
                                            d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
                                        />
                                    </svg>
                                    <span class="pr-2">:</span>
                                </span>
                            </slot>
                            <b-badge>#name</b-badge>
                            <b-badge>#email</b-badge>
                            <b-badge>#link</b-badge>
                            <b-badge>#username</b-badge>
                            <b-badge>#password</b-badge>
                        </b-form-group>

                        <b-form-group label="Dynamic Macros:" label-cols-sm="2" >
                            <b-form-checkbox
                            id="checkbox-1"
                            v-model="isDynamicMacros"
                            name="checkbox-1"
                            v-bind:value="true"
                            v-bind:unchecked-value="false"
                            >
                            <span
                                    v-b-popover.hover="
                                        'When active it will consider the 1st line as macros and convert them. <br> eg.:  Email Adress => #email_adress'
                                    "
                                    variant="info"
                                >
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="16"
                                        height="16"
                                        fill="currentColor"
                                        class="bi bi-info-circle"
                                        viewBox="0 0 16 16"
                                    >
                                        <path
                                            d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                                        />
                                        <path
                                            d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
                                        />
                                    </svg>
                                </span>
                            </b-form-checkbox>
                        </b-form-group>

                        <div class="pt-2">
                            <slot name="label">Email body:</slot>
                            <tinymce id="d1" :initial-value="initial_value" :other_options="tinyOptions" v-model="body_msg"></tinymce>
                            <!--<editor
                                api-key="b5x1kxhpln5b9n9xo3qtjxfq9sa282azpyynkwwbpbc63eyx"
                                id="body"
                                :initial-value="initial_value"
                                v-model="body_msg"
                                :init="tinyOptions"
                            />-->
                        </div>

                        <b-button @click="sendRememberEmails" size="md" class="mt-2">Send Emails</b-button>
                </div>
                <!-- /.card -->
            </div>
        </div>
     </b-overlay>
    </div>
</template>

<script>
import Editor from "@tinymce/tinymce-vue";
let init_value = `<p>Caro membro do CIIC <strong>#name</strong>,</p><p><br />A FCT est&aacute; a realizar o inqu&eacute;rito '<strong>IPCTN21 &mdash; Inqu&eacute;rito ao Potencial Cient&iacute;fico e Tecnol&oacute;gico Nacional</strong>'. Para este efeito, a FCT pede a todos os membros do CIIC (integrados, colaboradores, bolseiros, estudantes, etc.) que verifiquem/atualizem a sua ficha individual de investigador e tenha sobretudo aten&ccedil;&atilde;o ao ponto "Percentagem de tempo em atividades de I&amp;D ou de apoio direto a I&amp;D nesta Unidade em 2021". A ficha est&aacute; j&aacute; pr&eacute;-preenchida, o que torna o processo relativamente r&aacute;pido. <br /></p><p><br />Para isso, deve aceder ao endere&ccedil;o eletr&oacute;nico: #link e utilizar os seguintes c&oacute;digos de autentica&ccedil;&atilde;o:</p><p>Utilizador = #username<br />Senha = #password</p><p><br />Esta <strong>verifica&ccedil;&atilde;o/atualiza&ccedil;&atilde;o da ficha individual deve ser feita at&eacute; sexta-feira, dia 20/05/2022</strong>, para que possa ser lacrado na segunda-feira, e <strong>n&atilde;o demora mais do 1 minuto</strong> a efetuar. </p><p>Os melhores cumprimentos, <br />Pela Dire&ccedil;&atilde;o do CIIC </p>`;

export default {
    data: function() {
        return {
            errorMessage: "",
            file: null,
            initial_value: init_value,
            body_msg: init_value,
            loading: false,
            subject: 'Finalização do prenchimento Inquerito CIIC',
            isDynamicMacros: false,
            tinyOptions: {
                    height: 500,
                    menubar: false,
                    plugins: [
                        'print preview fullpage powerpaste searchreplace autolink directionality advcode visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists textcolor wordcount tinymcespellchecker a11ychecker imagetools mediaembed  linkchecker contextmenu colorpicker textpattern help'
                    ],
                    toolbar:
                    'formatselect | bold italic strikethrough forecolor backcolor | link | alignleft aligncenter alignright alignjustify  | numlist bullist outdent indent  | removeformat'
                    }
        };
    },
    components: {
        editor: Editor // <- Important part
    },
    computed: {},
    methods: {
        sendRememberEmails(e) {
             const config = {
                    headers: { 'content-type': 'multipart/form-data' }
                }
                const formData = new FormData()
                formData.append('file', this.file);
                formData.append('body', this.body_msg);
                formData.append('subject', this.subject);
                formData.append('isDynamicMacros', this.isDynamicMacros);

            this.loading = true;
            axios.post('api/rememberfillform', formData, config)
                .then(response => {
                    this.loading = false;
                    if (response.data.status == 'success') {
                    Swal.fire({
                    type: 'success',
                    title: 'Email(s) sent successfully!',
                    text: '(Sent: '+response.data.message.total_succeded +', Failed: ' + response.data.message.total_failed + ')'
                    })
                    }

                })
                .catch(error => {
                    this.loading = false;
                    Swal.fire({
                    type: 'error',
                    title: 'Oops...',
                    text: 'Something went wrong!',
                    })
                });
        },
        onReset(event) {
        },
    },
    created() {}
};
</script>
<style scoped>
.mce-flow-layout-item.mce-last {
    display:none;
}
.form-group {
    margin-top: 10px;
}
.color-gray {
    color: gray;
}
</style>
