<template>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <b-alert
                    :show="errorMessage.length"
                    dismissible
                    variant="danger"
                    @dismissed="errorMessage = ''"
                    >{{ errorMessage }}</b-alert
                >
                <div class="card-header bg-none">
                    <h3 class="card-title">Reports</h3>
                    <div class="card-tools">
                        <div class="input-group justify-content-end">
                            <div class="input-group-prepend pr-1">
                                <div class="justify-content-center p-1">
                                    <strong>From</strong>
                                </div>
                                <select
                                    v-model="selectedFromMonth"
                                    class="custom-select"
                                >
                                    <option
                                        v-for="month in months"
                                        v-bind:key="month.value"
                                        :value="month"
                                        v-text="month.text"
                                    ></option>
                                </select>
                                <select
                                    v-model="selectedFromYear"
                                    class="custom-select"
                                >
                                    <option
                                        v-for="year in years"
                                        v-bind:key="year"
                                        :value="year"
                                        v-text="year"
                                    ></option>
                                </select>
                                <div class="justify-content-center p-1">
                                    <strong>To</strong>
                                </div>
                                <select
                                    v-model="selectedToMonth"
                                    class="custom-select"
                                >
                                    <option
                                        v-for="month in months"
                                        v-bind:key="month.value"
                                        :value="month"
                                        v-text="month.text"
                                    ></option>
                                </select>
                                <select
                                    v-model="selectedToYear"
                                    class="custom-select"
                                >
                                    <option
                                        v-for="year in years"
                                        v-bind:key="year"
                                        :value="year"
                                        v-text="year"
                                    ></option>
                                </select>
                            </div>
                            <a
                                @click.prevent="downloadItem()"
                                class="btn btn-success"
                            >
                                <span v-if="!isDownloading">Generate new</span>
                                <span v-else
                                    >Loading. . .<b-spinner
                                        class="ml-1"
                                        small
                                    ></b-spinner
                                ></span>
                            </a>
                            <a
                                @click.prevent="addToQueue()"
                                class="ml-2 btn btn-secondary"
                            >
                                <span>Add to Queue</span>
                            </a>
                        </div>
                        <!-- <div>
                      <b-input-group class="mt-3 mb-3">
                        <b-input-group-append>
                          <b-form-input id="example-input" v-model="to_date" type="text" placeholder="From Date"  autocomplete="off"></b-form-input>
                          <b-form-datepicker v-model="to_date" button-only right locale="en-US" :date-format-options="{ year: 'numeric', month: 'numeric', day: 'numeric' }" aria-controls="example-input" @context="changeToDate"></b-form-datepicker>
                        </b-input-group-append>

                        <b-input-group-append>
                          <b-form-input id="example-input" v-model="from_date" type="text" placeholder="To Date" autocomplete="off"></b-form-input>
                        <b-form-datepicker v-model="from_date" button-only right locale="en-US" :date-format-options="{ year: 'numeric', month: 'numeric', day: 'numeric' }" aria-controls="example-input" @context="changeFromDate"></b-form-datepicker>
                      </b-input-group-append>

                    </b-input-group>
                  </div>-->
                    </div>
                </div>

                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>From | To</th>
                                    <th>Status</th>
                                    <th>Created at</th>
                                    <th>Updated at</th>
                                </tr>
                                <tr v-for="report in reports" :key="report.id">
                                    <td class="text-center">
                                        <b-button
                                            v-if="report.path"
                                            :href="report.path"
                                            variant="outline-danger"
                                            size="sm"
                                            download
                                            ><i class="fa fa-download"></i
                                        ></b-button>
                                        <div v-else>-</div>
                                    </td>
                                    <td>{{ report.name }}</td>
                                    <td>
                                        {{ report.start_date.split(" ")[0] }} |
                                        {{ report.end_date.split(" ")[0] }}
                                    </td>
                                    <td>
                                        <div v-if="report.status == 'C'">
                                            <b-badge variant="success"
                                                >Complete</b-badge
                                            >
                                        </div>
                                        <div v-if="report.status == 'P'">
                                            <b-badge variant="secondary"
                                                >Pending</b-badge
                                            >
                                        </div>
                                        <div v-else></div>
                                    </td>
                                    <td>{{ report.created_at }}</td>
                                    <td>{{ report.updated_at }}</td>
                                </tr>
                                <Loading type="row" :loading="loading" :data="reports"/>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</template>

<script type="text/javascript">
// Component code (not registered)
import Loading from "./../general/Loading.vue";
export default {
    components: {
    Loading
    },

    data: function() {
        return {
            loading: true,
            isDownloading: false,
            errorMessage: "",
            months: [
                { value: "01", text: "Jan" },
                { value: "02", text: "Feb" },
                { value: "03", text: "Mar" },
                { value: "04", text: "Apr" },
                { value: "05", text: "May" },
                { value: "06", text: "Jun" },
                { value: "07", text: "Jul" },
                { value: "08", text: "Aug" },
                { value: "09", text: "Sep" },
                { value: "10", text: "Oct" },
                { value: "11", text: "Nov" },
                { value: "12", text: "Dec" }
            ],
            selectedFromMonth: new Date().getMonth().toString(),
            selectedFromYear: new Date().getFullYear().toString(),
            selectedToMonth: new Date().getMonth().toString(),
            selectedToYear: new Date().getFullYear().toString(),
            reports: [],
            to_date: new Date(),
            from_date: new Date()
        };
    },
    computed: {
        years() {
            const year = new Date().getFullYear();
            return Array.from(
                {
                    length: year - 2000
                },
                (value, index) => 2001 + index
            );
        }
    },
    methods: {
        changeToDate(ctx) {
            // The following will be an empty string until a valid date is entered
            this.to_date = ctx.selectedYMD;
        },
        changeFromDate(ctx) {
            // The following will be an empty string until a valid date is entered
            this.from_date = ctx.selectedYMD;
        },
        loadReports() {
            let oldReports = this.reports;
            this.loading = true;
            this.reports = [];
            axios
                .get("api/reports")
                .then(response => {
                    if (
                        typeof response.data == "object" &&
                        response.data.length != 0
                    ) {
                        this.reports = response.data.data;
                    }
                    this.loading = false;
                })
                .catch(function(error) {

                    Swal.fire({
                        type: "error",
                        title: "Oops...",
                        text: "Ops! An error has occur!"
                    });
                    this.reports = oldReports;
                })
                .finally(function() {
                    this.loading = false;
                });
        },
        addToQueue() {
            axios
                .post("/api/reports/addToQueue", {
                    start_date:
                        Math.floor(
                            new Date(
                                this.selectedFromYear +
                                    "-" +
                                    this.selectedFromMonth.text +
                                    "-01"
                            )
                        ) / 1000,
                    end_date:
                        Math.floor(
                            new Date(
                                this.selectedToYear +
                                    "-" +
                                    this.selectedToMonth.text +
                                    "-01"
                            )
                        ) / 1000
                })
                .then(() => {
                    Swal.fire({
                        type: "success",
                        title: "Report added to queue!"
                    }).then(response => {
                        this.loadReports();
                    });
                })
                .catch(error => {

                    Swal.fire({
                        type: "error",
                        title: "Oops...",
                        text: "Ops! An error has occur!"
                    });
                });
        },
        async downloadItem() {
            this.isDownloading = true;
            let from =
                Math.floor(
                    new Date(
                        this.selectedFromYear +
                            "-" +
                            this.selectedFromMonth.text +
                            "-01"
                    )
                ) / 1000;
            let to =
                Math.floor(
                    new Date(
                        this.selectedToYear +
                            "-" +
                            this.selectedToMonth.text +
                            "-01"
                    )
                ) / 1000;
            axios({
                url: "/api/reports/getFileReport/?from=" + from + "&to=" + to,
                method: "GET",
                responseType: "blob"
            })
                .then(response => {
                    const url = window.URL.createObjectURL(
                        new Blob([response.data])
                    );
                    const link = document.createElement("a");
                    link.href = url;
                    link.setAttribute(
                        "download",
                        "ActivitiesReport" + this.selectedYear + ".docx"
                    );
                    document.body.appendChild(link);
                    link.click();
                })
                .catch(error => {
                    Swal.fire({
                        type: "error",
                        title: "Oops...",
                        text: "Something went wrong!"
                    });
                })
                .finally(() => {
                    this.isDownloading = false;
                });
        }
    },
    created() {
        let currentMonth = new Date().getMonth();
        this.selectedFromMonth = this.months[currentMonth];
        this.selectedToMonth = this.months[currentMonth];
        this.loadReports();
        Fire.$on("refresh", () => {
            this.loadReports();
        });
    }
};
</script>
<style scoped></style>
